*{
    margin: 0;
    padding: 0;
    color: rgb(246, 240, 240); 
}
#navbar{
    height:60px;
    background-color: black;
    

}
button{
    background-color: rgb(208, 147, 6);
}
#logo{
color: rgb(216, 162, 14);
font-size: 20px;

}
a{
    margin-right: 200px;;
}
.contentbox{
    text-align: center;
    text-shadow: 2px 2px 4px black;
    margin-top:80px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
